FORMAT: 1A
HOST: http://www.google.com

<<<<<<< HEAD
# Paperless Application API
API to a mobile application that can be used to manage drivers’ deliveries, ensuring that the correct supporting documentation is captured for each type of delivery, with details being transmitted to the database for real time visibility of delivery status. 
Images, including documentation, will be batch uploaded from the branch.
=======
# CourierManager
Notes API is a *short texts saving* service similar to its physical paper presence on your table.
>>>>>>> 90502cbc447fc733fe9d24cc1148c544cb4d18b6

# Group Notes
Notes related resources of the **Notes API**

## Notes Collection [/notes]
### List all Notes [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "title": "Jogging in park"
        }, {
          "id": 2, "title": "Pick-up posters from post-office"
        }]

### Create a Note [POST]
+ Request (application/json)

        { "title": "Buy cheese and bread for breakfast." }

+ Response 201 (application/json)

        { "id": 3, "title": "Buy cheese and bread for breakfast." }

## Note [/notes/{id}]
A single Note object with all its details

+ Parameters
    + id (required, number, `1`) ... Numeric `id` of the Note to perform action with. Has example value.

### Retrieve a Note [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Pick-up posters from post-office" }

### Remove a Note [DELETE]
+ Response 204
